version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/kids_drawing.db:/app/kids_drawing.db # DB 파일 유지

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend